USE [master]
GO
/****** Object:  Database [QuanLySinhVien]    Script Date: 12/30/2020 7:54:43 PM ******/
CREATE DATABASE [QuanLySinhVien]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLySinhVien', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\QuanLySinhVien.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLySinhVien_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\QuanLySinhVien_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLySinhVien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLySinhVien]
GO
USE [QuanLySinhVien]
GO
/****** Object:  Table [dbo].[tblKhoa]    Script Date: 12/30/2020 7:54:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblKhoa](
	[MaKhoa] [int] IDENTITY(1,1) NOT NULL,
	[TenKhoa] [ntext] NULL,
	[GhiChu] [varbinary](50) NULL,
 CONSTRAINT [PK_tblKhoa] PRIMARY KEY CLUSTERED 
(
	[MaKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSinhVien]    Script Date: 12/30/2020 7:54:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSinhVien](
	[MaSV] [int] IDENTITY(1,1) NOT NULL,
	[TenSV] [nchar](100) NOT NULL,
	[NgaySinh] [date] NULL,
	[DiaChi] [ntext] NULL,
	[SDT] [nchar](10) NULL,
	[MaKhoa] [int] NOT NULL,
 CONSTRAINT [PK_tblSinhVien] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblKhoa] ON 

INSERT [dbo].[tblKhoa] ([MaKhoa], [TenKhoa], [GhiChu]) VALUES (1, N'CNTT', NULL)
INSERT [dbo].[tblKhoa] ([MaKhoa], [TenKhoa], [GhiChu]) VALUES (2, N'Kinh Tế', NULL)
INSERT [dbo].[tblKhoa] ([MaKhoa], [TenKhoa], [GhiChu]) VALUES (3, N'Dien Lanh', NULL)
SET IDENTITY_INSERT [dbo].[tblKhoa] OFF
SET IDENTITY_INSERT [dbo].[tblSinhVien] ON 

INSERT [dbo].[tblSinhVien] ([MaSV], [TenSV], [NgaySinh], [DiaChi], [SDT], [MaKhoa]) VALUES (1, N'qu                                                                                                  ', NULL, NULL, NULL, 1)
INSERT [dbo].[tblSinhVien] ([MaSV], [TenSV], [NgaySinh], [DiaChi], [SDT], [MaKhoa]) VALUES (2, N'aedasdas                                                                                            ', NULL, NULL, NULL, 2)
INSERT [dbo].[tblSinhVien] ([MaSV], [TenSV], [NgaySinh], [DiaChi], [SDT], [MaKhoa]) VALUES (3, N'asd asdas                                                                                           ', NULL, NULL, NULL, 3)
SET IDENTITY_INSERT [dbo].[tblSinhVien] OFF
ALTER TABLE [dbo].[tblSinhVien]  WITH CHECK ADD  CONSTRAINT [FK_tblSinhVien_tblKhoa] FOREIGN KEY([MaKhoa])
REFERENCES [dbo].[tblKhoa] ([MaKhoa])
GO
ALTER TABLE [dbo].[tblSinhVien] CHECK CONSTRAINT [FK_tblSinhVien_tblKhoa]
GO
USE [master]
GO
